.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 62em;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 10em;
    background: #CCC;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid gray;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
 /*   float: left;
    width: 51em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}*/
/* float: left; */
width: auto;
border-left: 1px solid gray;
border-radius: 0;
position: relative;
left: -1px;
padding: 0 0 .5em 11em;
}

.body-wrapper {
background-color: #fff;
box-shadow: 0 0 35px #888;
/*padding: 0px 40px 10px 40px;*/
padding: 20px 40px 22% 40px;
width: 1050px;
margin: 0px auto 10px auto;
}

.view {
    background-color: yellow;
}